@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/**
 * ========================= Banner ==========================
 *
 * Styles the banner section. It is a child of main area and is composed of two blocks.
 * On wide screens, it is a 1x2 grid. On narrower screens, it is 2x1 grid.
 *
 * */
#banner {
    position: relative;
    background: url('../images/banner-photo.jpg') center/cover no-repeat;
}
#banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(26, 26, 22, 0.92);
    z-index: 1;
}

#banner_container {
    position: relative;
    max-width: 960px;
    z-index: 2;
}
#banner_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #E7EDDE;
}

#banner_content strong {
    color: #F69A1D;
    font-style: italic;
}

.banner_item {
    margin-bottom: 1.2rem;
    text-align: center;
}

#banner_title {
    font-size: 6.4rem;
    font-weight: 700;
}
#banner_title em {
    position: relative;
}
#banner_title em::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.6rem;
    background-color: #F69A1D;
}

#banner_message {
    font-size: 1.6rem;
    font-weight: 300;
}
#banner_button {
    margin-top: 2.4rem;
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
}
.banner_block {
    height: 76vh;
}

@media only screen and (max-width: 1040px) {
    #banner_title {
        font-size: 4.8rem;
    }
    #banner_message {
        font-size: 1.2rem;
    }
    .banner_block {
        height: 60vh;
    }
    #banner_button {
        padding: 0.2rem 0.4rem;
    }
}
@media only screen and (max-width: 840px) {
    #banner_title {
        font-size: 4rem;
    }
    #banner_title em::after {
        height: 0.4rem;
    }
    #banner_message {
        font-size: 1rem;
    }
    .banner_block {
        height: 50vh;
    }
    #banner_button {
        font-size: 1rem;
        padding: 0.1rem 0.2rem;
    }
}
@media only screen and (max-width: 540px) {
    .banner_block {
        height: 36vh;
    }
    #banner_title {
        font-size: 3.2rem;
    }
    #banner_message {
        max-width: 260px;
    }
}
@media only screen and (max-width: 400px) {
    #banner_title {
        font-size: 2.8rem;
    }
}

/**
 * ========================= Stories ==========================
 *
 * Styles the stories section. It is a child of main area and is composed of two blocks.
 * The #stories_content block feature 3 top stories of the blog site.
 *
 * */
#stories_content {
    flex-direction: column;
}
#stories_container {
    margin-top: 2rem;
}
.stories_item {
    display: flex;
    margin: 2rem 0;
}
.stories_article {
    display: flex;
    flex-direction: column;
    max-width: 640px;
}

.article_line {
    margin-bottom: 1rem;
}

.article_author {
    display: flex;
    align-items: center;
}
.article_author_profile {
    height: 1rem;
    width: auto;
    border-radius: 50%;
    margin-right: 0.4rem;
}
.article_author_name {
    font-weight: 600;
}

.article_title {
    font-size: 1.4rem;
    font-weight: 700;

    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
.article_subtitle {
    margin-top: 0.6rem;
    color: #606058;

    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article_info {
    color: #606058;
    margin-right: 0.8rem;
}

.stories_photo_box {
    max-width: 320px;
    min-width: 250px;
    max-height: 200px;
    margin-left: 2rem;
}
.stories_photo {
    border-radius: 0.32rem;
    width: 320px;
    height: 200px;
}
@media only screen and (max-width: 840px) {
    .stories_article {
        max-width: 440px;
    }
    .article_line {
        margin-bottom: 0.8rem;
    }
    .article_title {
        font-size: 1.3rem;
    }
    .stories_photo_box {
        max-width: 250px;
        min-width: 200px;
        max-height: 150px;
        margin-left: 1.5rem;
    }
    .stories_photo {
        width: 250px;
        height: 150px;
    }
}
@media only screen and (max-width: 640px) {
    .stories_article {
        max-width: 400px;
    }
    .stories_item {
        margin: 1.2rem 0;
    }
    .article_line {
        margin-bottom: 0.4rem;
    }
    .article_title {
        font-size: 1.2rem;
    }
    .stories_photo_box {
        max-width: 200px;
        min-width: 160px;
        max-height: 120px;
        margin-left: 1rem;
    }
    .stories_photo {
        width: 200px;
        height: 120px;
    }
    .article_subtitle {
        display: none;
    }
}
@media only screen and (max-width: 540px) {
    .stories_article {
        max-width: 300px;
    }
    .article_title {
        font-size: 1.1rem;
    }
    .stories_photo_box {
        max-width: 120px;
        min-width: 120px;
        max-height: 100px;
    }
    .stories_photo {
        width: 120px;
        height: 100px;
    }
}
@media only screen and (max-width: 360px) {
    .stories_photo_box {
        display: none;
    }
}
